.button_save::-moz-focus-inner { border: 0; }
.button_save{
    width:112px;
    height:36px;
    background-image:url(button_save.png);
    background-repeat:no-repeat;
    display:block;
    border:none;
    outline:none;
    cursor:pointer;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:0px;
    float:left;
/*    padding-left:50px;
    padding-top:23px;*/
    color:#BBDBB6;
   
}

.button_save:hover{
    background-image:url(button_save_hover.png);
    color:#008804;
}

.button_save:active{
    background-image:url(button_save_active.png);
    color:#9FDE75;
}
.button_close{
    width:112px;
    height:36px;
    background-image:url(button_close.png);
    background-repeat:no-repeat;
    display: block;
    cursor:pointer;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:0px;			 
    /*margin-left:50px;*/
    /*padding-top:23px;*/
    color:#BBDBB6;
    float: right;
   
}

.button_close:hover{
    background-image:url(button_close_hover.png);
    color:#008804;
}

.button_close:active{
    background-image:url(button_close_active.png);
    color:#9FDE75;
}
.button_del{
    width:140px;
    height:36px;
    background-image:url(button_del.png);
    background-repeat:no-repeat;
    display:block;
    padding:0; 
    border:none;
    outline:none;
    cursor:pointer;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:0px;			
/*    padding-left:5px;
    padding-top:23px;*/
    color:#BBDBB6;
    float: left;
    
}

.button_del:hover{
    background-image:url(button_del_hover.png);
    color:#008804;
}

.button_del:active{
    background-image:url(button_del_active.png);
    color:#9FDE75;
}

/*  */	
.button_add::-moz-focus-inner { border: 0; }
.button_add{
    width:112px;
    height:36px;
    background-image:url(button_add.bmp);
    background-repeat:no-repeat;
    display:block;
    padding:0; 
    border:none;
    outline:none;
    cursor:pointer;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:1px;			
    padding-left:50px;
    padding-top:23px;
    color:#BBDBB6;
}

.button_add:hover{
    background-image:url(button_add_hover.bmp);
    color:#008804;
}

.button_add:active{
    background-image:url(button_add_active.bmp);
    color:#9FDE75;
}


/*  */
.button_edit::-moz-focus-inner { border: 0; }
.button_edit{
    width:112px;
    height:36px;
    background-image:url(button_edit.bmp);
    background-repeat:no-repeat;
    display:block;
    margin:0 auto;
    padding:0; 
    border:none;
    outline:none;
    cursor:pointer;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:1px;			
    padding-left:50px;
    padding-top:23px;
    color:#BBDBB6;
}

.button_edit:hover{
    background-image:url(button_edit_hover.bmp);
    color:#008804;
}

.button_edit:active{
    background-image:url(button_edit_active.bmp);
    color:#9FDE75;
}

/*  */	
.button_login::-moz-focus-inner { border: 0; }
.button_login{
    width:112px;
    height:36px;
    background-image:url(button_login.bmp);
    background-repeat:no-repeat;
    display:block;
    margin:0 auto;
    padding:0; 
    border:none;
    outline:none;
    cursor:pointer;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:0px;			
    padding-left:50px;
    padding-top:23px;
    color:#BBDBB6;
    
}

.button_login:hover{
    background-image:url(button_login_hover.bmp);
    color:#008804;
}

.button_login:active{
    background-image:url(button_login_active.bmp);
    color:#9FDE75;
}




.button_vudaty {
    width:112px;
    height:36px;
    background-image:url(button_vudaty.bmp);
    background-repeat:no-repeat;
    display:block;
    margin:0 auto;
    padding:0; 
    border:none;
    outline:none;
    cursor:pointer;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:1px;			
    padding-left:50px;
    padding-top:23px;
    color:#BBDBB6;
}
.button_vudaty:hover { 
    background-image:url(button_vudaty_hover.bmp);
    color:#008804;
}


.button_help {
    width:112px;
    height:36px;
    background-image:url(button_help.bmp);
    background-repeat:no-repeat;
    display:block;
    margin:0 auto;
    padding:0; 
    border:none;
    outline:none;
    cursor:pointer;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:1px;			
    padding-left:50px;
    padding-top:23px;
    color:#BBDBB6;
}
.button_help:hover { 
    background-image:url(button_help_hover.bmp);
    color:#008804;
}